.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.AppContainer {
  display: grid;
  place-items: center stretch;
  grid-template-rows: repeat(2, 1fr);
  width: 80%;
  max-width: 60em;
}

@media only screen and (max-width: 450px) {
  .AppContainer {
    width: 100%;
    grid-template-rows: .75fr 1fr;
  }
}

body { 
  background-color: #252525;
}

code {
  font-size: .6em;
}